<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% block head %}
        
        <meta name="description" content="None">
        <meta name="author" content="jdpena">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        
        <title>{{ title }}</title>
                       
        <!-- jquery -->
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>        
        
        <!-- bootstrap -->
        <script src="{{ url_for('static', filename='js/popper-1.14.7.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>            
        
        <!-- font-awsome icons -->
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.13.0-web/css/all.min.css') }}">
        
        <!-- custom css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/rec-custom.css') }}">

        {% endblock %}
        
    </head>
    
    <body>

        {% block body %}
        
        <div id="gb-sidebar" class="left-vertical-nav bg-light"> 
            <div id="logo-div" class=""><!-- py-4 px-3 mb-4 bg-light -->
                <div class="media d-flex align-items-center justify-content-center">
                    <img id="logo-img" src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo"> 
                </div>
            </div>
            <div id="my-avatar" class="py-3"> <!-- bg-light -->
                {% block avatar %}
                {% endblock avatar %}                
            </div>
            <div class="py-4"> <!-- bg-light NOT ORIGINALLY HERE -->
                {% block description %}
                {% endblock description %}
            </div>
        </div>
        
            <!-- Page content holder -->
        <div id="gb-main-bar-content" class="page-content collapsible-bar-1 pl-5 pr-5 pb-2">
        <div class="pull-right mt-3 justify-content-end d-flex"></div><!-- Demo content -->
        <h1 id="heading" class="display-4">{{heading}}</h1>
        {% block content %}
        {% endblock content %}
        </div>
        {% endblock body %}


        <div id="final">
            {% block final %} {% endblock final %}    
        </div>
      
    </body>
    

</html>